@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    min-width: 0;
}

input {
    color-scheme: dark;
}

.rdp-root {
  --rdp-accent-color: #38b6ff; 
   --rdp-accent-background-color: none;
}
